html{
    font-size: 62.5%;
}
body{
    margin:0;
    box-sizing: border-box;
}

#headerContainer{
    background-color: #1d3557;
    height: 7rem;
}
#welcome-section{
    background-color: #457b9d;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
#info-section{
    background-color: #a8dadc;
    display: flex;
    flex-direction: column;
}
#about-section{
    background-color: #f1faee;
    height: 50rem;
}

/* inside header */
img.logo{
border-radius: 50%;
height: 6rem;
margin-left: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    margin-right: 4rem;
}
a{
text-decoration: none;
color: #fff;
font-size: 2rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Welcome section */

.introCard{
    background-color: #14213d;
    height: 60%;
    width: 80%;
    z-index: 1;
    border-radius: 40rem;
    display: flex;

}
.cardpfp{
    height: 35rem;
    width: 35rem;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    margin-left: 1rem;
    
}

.introText{
    font-size: 3rem;
    color: #eee;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.introText p{
    margin-top: -2rem;
}

/* Info section */
.infoCard{
    margin-top: 5rem;
    margin-bottom: 5rem;
display: flex;
flex-direction: column;
align-items: center;
}
.infoTitle{
    font-size: 2rem;
}
.cardContainer{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 4rem;

}
.card img{
height: 30rem;
width: 30rem;
object-fit: cover;
}